<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="layout/AppLayout.html :: header"></header>
    <style>
        .custom-card {
            font-size: 0.7rem;
        }
    </style>
</head>
<body>
<div th:insert="layout/AppLayout.html :: nav"></div>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center w-100">
        <div class="row justify-content-center align-items-center w-100">
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>

            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">Refdata Service</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>

            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">Instrument Service</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>

            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">Rushmore</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center w-100">
        <div class="row justify-content-center align-items-center w-100">
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center w-100">
        <div class="row justify-content-center align-items-center w-100">
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
            <div class="col-2 d-flex justify-content-center">

                <a href="/Topology/Landing" class="card w-100 custom-card text-center mb-3 text-decoration-none">
                    <div class="card-body">
                        <div class="card-title text-success">
                            <h5 class="mb-0">DRS</h5>
                        </div>
                        <hr/>
                        <table class="table">
                           <tbody>
                            <tr>
                                <td>RunDate</td>
                                <td>2025-05-01</td>
                            </tr>
                            <tr>
                                <td>Previous Date</td>
                                <td>2025-04-30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

</body>
</html>
